.fullscreenbanner {
  position: relative;
}

@media (min-width: 900px) {
  .section.carousel-container > div {
    max-width: 1680px !important;
    margin: auto;
  }
}

.fullscreenbanner {
  max-width: 100% !important;
  margin: auto;
}

.fullscreenBanner-image{
  width: 100%;
  height: 40pc;
  max-height: 40pc;
}

.fullscreenBanner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullscreenBanner-content{
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: -60px;
  z-index: 1;
  width: 83%;
  max-width: 1164px;
}

@media (min-width: 768px){
  .carousel-content{
    width: 100%;
  }
}

.section:has(.full-width){
  max-width: 1680px !important;
  margin: auto;
}

@media (min-width: 768px){
  .carousel-content{
    width: 100%;
  }
}

.section > .fullscreenbanner-wrapper{
  max-width: 100%;
}

.fullscreenbanner > div {
  display: flex;
  justify-content: center;
  align-items: center;
} 

@media (min-width: 600px) {
  main .section:has(.fullscreenbanner) {
    padding: 16px 0;
  }
}

@media (min-width: 768px){
  .carousel-content{
    width: 100%;
  }
}

@media (min-width: 1680px){
  .section > div:has(.fullscreenbanner) {
    max-width: 100%;
    width: 83% !important;
  }
}

@media (min-width: 768px) {
  main .section:has(.fullscreenbanner) {
    padding: 0;
  }
}

@media (min-width: 768px){
  .section > div:has(.fullscreenbanner) {
    max-width: 100%;
    width: 100% !important;
    padding: 16px 0;
  }
}

/* @media (min-width: 1680px){
  .section > div:has(.fullscreenbanner) {
    max-width: 100%;
    width: 90% !important;
  }
} */