.labelwithborder-wrapper .labelwithborder h1::after,
.labelwithborder-wrapper .labelwithborder h2::after, 
.labelwithborder-wrapper .labelwithborder h3::after,
.labelwithborder-wrapper .labelwithborder h4::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: "";
  border-bottom: 2px solid #ffea00;
}