.magazines > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
}

.magazines > ul > li {
  background-color: var(--background-color)
}

.magazines > ul > li > a {
  color:var(--text-color)
}

.magazines > ul > li > a:hover {
  text-decoration: none;
}

.magazines .magazines-magazine-body {
  margin: 16px;
  margin-left: 0;
}

.magazines .magazines-magazine-image {
  line-height: 0;
}

.magazines .magazines-magazine-body > *:first-child {
  margin-top: 0;
}

.magazines > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .magazines-magazine-body > h4 {
      font-size: 18px;
  }

  .magazines-magazine-body > p {
    font-size: 14px;
}