.cardleftimage  > div {
  display: flex;
  background-color: #ebebeb;
  flex-direction: row-reverse;
}

.cardLeftImage-image{
  width: 60%;
}

.cardLeftImage-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardLeftImage-content{
  width: 40%;
  padding: 15px;
}